---
layout: default
---

<div class="row">
  <div class="col-md-8">
    <h1 class="post-title">Books</h1>

    <img src="{{ "/images/pages/family-reading.jpg" | relative_url }}" width="180px" align="left" style="margin-right: 10px;">

    <p class="post-content">Books are among my greatest passions. I buy more books than I can possibly read. I read books in a daily basis, but I know I will never catch up because I can't help buying more and more. Here I share with you my reading experience. Come back whenever you need a reading recommendation.</p>

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Latest Reviews</h2>

        {% for post in site.posts limit:3 %}
          {% if post.progress == 100 %}
            <header class="post-header">
              <h1 class="post-title">{{post.title}} <small>by {{ post.author }}</small></h1>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </header>

            <div class="post-content" itemprop="articleBody">
              <img align="left" border="0" style="margin-right: 10px;" width="90" src="{{ post.image }}">
              {{post.content}}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <h2>Recent Reviews</h2>

    <table class="table">
      {% tablerow post in site.posts limit:4 offset:3 cols:2 %}
        {% if post.progress == 100 %}
          <img border="0" src="{{ post.image }}" width="42" align="left" style="margin-right: 10px;">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <br>
        {% endif %}
      {% endtablerow %}
    </table>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bookshelf</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          {% tablerow post in site.posts limit:12 offset:7 cols:2 %}
            {% if post.progress == 100 %}
              <a href="/books{{ post.url }}"><img border="0" src="{{ post.image }}"></a>
            {% endif %}
          {% endtablerow %}
        </table>
      </div>
    </div>
  </div>
</div>
